.room_active{
    color: black !important;
    font-weight: bold!important;
}
.nav_text{
    color: grey;
    padding: 1rem 1rem 1rem 0rem;
}
.nav_text:hover {
    color: black;
}

.line {
    border-right: 1px solid rgb(197, 197, 197);
    padding-right: 10px;
    padding-left: 10px
}